* {
    margin: 0;
    padding: 0;
    color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #D8DFE8;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 3rem;
}

.menu{
    width: 100%;
    background-color: #D8DFE8;
    width: 120px;
}

.encriptador-entrada{
    background-color: #D8DFE8; 
}

.encriptador-entrada p{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}

.encriptador-entrada-input{
    width: 680px;
    margin-top: 50px;
    height: 60vh;
    background-color: #D8DFE8;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #0A3871;
    text-align: left;
}

.encriptador-entrada-input::placeholder{
    color: #0A3871;
}

.encriptador-entrada-input:focus-visible{
    outline: none;
}

.encriptador-salida{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: 80vh;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 8px #00000014;
}

.encriptador-salida-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encriptador-salida-resultado-texto{
    width: 336px;
    height: 60vh;
    padding: 32px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #495057;
    text-align: left;    
}

.encriptador-salida-resultado-texto:focus-visible{
    outline: none !important;
}

.mensaje-no-encontrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mensaje-no-encontrado h1{
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

.mensaje-no-encontrado p{
    margin-top: 16px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.texto-advertencia{
    display: flex;
}

.texto-advertencia img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.btn{
    width: 328px;
    padding: 24px;
    margin: 0px 12px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 16px;
    font-family: "Inter", sans-serif;    
}

.btn-encriptar{
    background-color: #0A3871;
    color: white;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;

}

/*RESPONSIVE TABLET*/

@media only screen and (max-width:820px)  {

.contenedor{
    flex-direction: column;
    gap: 50px;
}

.encriptador-entrada-input{
    height: 50vh;
}

.encriptador-salida{
    width: 100%;
}

.mensaje-no-encontrado{
    padding: 32px;
}

.encriptador-salida {
    height: 100%;
    width: 100%;
}

.mensaje-no-encontrado img{
    display: none;
}

.encriptador-salida-resultado-texto{
    width: 100%;
}

.btn-copiar{
    padding: 32px;
}
}